// .post-copyright {
//   background-color: $post-copyright.bg;
//   border-left: $post-copyright.border.width $post-copyright.border.style $post-copyright.border.color;
//   list-style: none;
//   margin: $post-copyright.margin;
//   padding: $post-copyright.padding;

//   margin: 1em 0 0;
//   padding: 0.5em 1em;
//   border-left: 3px solid #ff1700;
//   background-color: #f9f9f9;
//   list-style: none;
// }
// .swal-overlay {
//   background-color: transparent;
// }
// 新增
.post-copyright {
  background-color: $post-copyright.bg;
  border-left: $post-copyright.border.width $post-copyright.border.style $post-copyright.border.color;
  list-style: none;
  margin: $post-copyright.margin;
  padding: $post-copyright.padding;

  margin: 1em 0 0;
  padding: 0.5em 1em;
  border-left: 3px solid #ff1700;
  background-color: #f9f9f9;
  list-style: none;
}
